Source: server-default
Section: video
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/dimitry-ishenko-casparcg/server-default
Vcs-Git: https://github.com/dimitry-ishenko-casparcg/server-default.git

Package: casparcg-server
Architecture: all
Multi-Arch: foreign
Depends: casparcg-server-2.4
Description: CasparCG Server
 CasparCG Server is a Windows and Linux software used to play out professional
 graphics, audio and video to multiple outputs. It has been in 24/7 broadcast
 production since 2006.
 .
 This is a dependency package providing the default version.
